body{
    margin: 0;
    background-color: yellow;
    font-family: sans-serif;
}

#header{
    display:flex;
    background-color: rgb(138, 86, 129);
    align-items: baseline;
    color: white;
    padding: 0 250px;
}

#container{
    display:flex;
    max-width:90%;
    margin:10px auto 100px;
}

#container p{
  text-indent: 2em;
}

#henshin{
    text-align: left;
    margin-left: 120px;  
}

#henshin button{
    font-size: 20px;
    border-radius: 0px;
    margin: 0px 8px;
    border: none;
    padding: 10px 40px;
    color: white;
    background-color: rgb(138, 86, 129);
    transition: 0.3s;
}

#henshin button:hover{
    background-color: rgb(92, 48, 85);
}

#henshin button:active {
  transform: scale(95%);
}

#main{
    flex:60%;
    background-color: #ccc;
    padding: 25px;
    overflow: auto;
}

#pkmnSection{
    display: block;
    width: 200px;
    text-align: center;
    margin:auto;
}

#whosThat {
    width:200px;
}

#nicePick{
    display:none;
    margin-top: 10px;
}

#hiThere{
    display:none;
    margin-top: 10px;
}

#textbox{
    width:198px;
    margin: 5px auto;
    padding:0;
}
#whatPkmn {
    display: block;
    width: 200px;
    margin: 10px auto;
    border-radius: 9px;
}

#textBody{
    padding: 40px;
}

#textBody h1, h3{
    margin: 0;
}

#textBody a:active{
    scale:92%;
}

.secretShout {
    font-size: 10px;
    text-align: center;
    justify-content: flex-end;
}

#infoGraph{
    display:grid;
    grid-template-columns: 25% 75%;
    background-color: white;
    padding: 12px;
    margin: 25px auto;
}

#infoGraph a{
    border: 3px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #525280;
    transition: 0.3s;
}

#animeButton:hover{
  background-image: url("../img/animeBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#artButton:hover{
  background-image: url("../img/artBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#booksButton:hover{
    background-image: url("../img/booksBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#foodButton:hover{
    background-image: url("../img/foodBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#gamesButton:hover{
    background-image: url("../img/gamesBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#infoGraph div{
    padding: 8px;
    text-align: center;
}

#infoGraph div.second{
    background-color: #525280;
     border: 3px white solid;
    color: white;
}

#favGraph {
    margin: 25px auto;
}

.limbusStory{
    margin-top: 25px;
    max-height: 320px;
    overflow-y: auto;
    border: #525280 3px solid;
    padding: 5px;
}
.PHRG{
    color:blue;
    font-weight: bold;
}

summary{
    text-decoration: none;
    background-color: #525280;
    width:95%;
    margin:auto;
    padding: 5px;
}

.insides{
    background-color: white;
   width:95%;
   margin:auto;
   padding: 5px;
}

#side{
    flex: 40%;
    background-color: black;
    padding: 10px;
    text-align: center;
}

.mySlides {
    display: none;
    margin-top: 15px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons - w3Schools*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right - w3Schools*/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through - w3Schools*/
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.footer {
    display: flex;
    position: fixed;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(92, 48, 85);
    color: white;
    border-top: 5px black solid;
    justify-content: center;
}

.footer a{
    color:white;
    text-decoration: none;
}

#pokeball{
    display:none;
}

.strikethrough {
    text-decoration: line-through;
}

@media screen and (max-width: 1600px) {
       
    #henshin {
        display:flex;
        margin: 0px auto;
    }

   #henshin button{
        font-size: 20px;
        border-radius: 0px;
        margin: 0px 20px;
        padding: 10px 40px;
        border: none;
        color: white;
        background-color: rgb(138, 86, 129);
        transition: 0.3s;
        }

    #container{
    display: flex;
   }

}

@media screen and (max-width: 1200px) {

   #side {
    display: none;
   }

   #header{
    text-align: center;
   }

}

@media screen and (max-width: 800px) {
  body {
    margin: 0;
  }

  #header{
    display:flex;
    background-color: rgb(138, 86, 129);
    align-items: baseline;
    color: white;
    padding:0 10px;
   }

   #container{
    display: flex;
    flex-direction: column;

   }

   #side {
    display: none;
   }

   #henshin {
    display:flex;
    justify-content: space-around;
   }

   #henshin button{
    font-size: 20px;
    border-radius: 0px;
    margin: 0px 8px;
    border: none;
    padding: 10px 20px;
    }

   #textBody{
    padding: 3px;
    }

    #infoGraph div{
    padding: 3px;
    text-align: center;
}

.footer {
    padding: 0;
    margin:0;
}

#scoliCry{
    display: none;
}

#pokeball{
    display: flex;
    height: 30px;
}

}

@media screen and (max-width: 500px) {

    #henshin {
    justify-content: center;
   }

   #henshin button{
    font-size: 12px;
    padding: 10px 20px;
    }
}